@import '../master';

.video-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-list li {
  flex-direction: row;
  margin: 10px;
}

.video-list li a {
  display: block;
  width: 320px;
  text-decoration: none;
}

.video-list img {
  background: $grey;
  width: 320px;
  height: 180px;
}
