// Set your brand colors
$green: #32d50c;
$pink: #ff1ba1;
$yellow: #ffd200;

// Colors
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $green;
$secondary: $pink;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$background: $grey-darker;
$body-background-color: $black-bis;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Text colors
$text: $white-ter !default;
$text-invert: findColorInvert($text) !default;
$text-light: $white-bis !default;
$text-strong: $white !default;

// Link colors
$link: $link !default;
$link-invert: $link !default;
$link-visited: $link !default;

$link-hover: $link !default;
$link-hover-border: $link !default;

$link-focus: $link !default;
$link-focus-border: $link !default;

$link-active: $link !default;
$link-active-border: $link !default;

$title-color: $white-ter !default;

$subtitle-color: $white-ter !default;
$subtitle-strong-color: $white !default;

$navbar-background-color: $white !default;
$navbar-item-color: $white-ter !default;
$navbar-item-hover-color: $link !default;
$navbar-item-hover-background-color: $white-bis !default;
$navbar-item-active-color: $black !default;
$navbar-item-active-background-color: transparent !default;
$navbar-tab-active-color: $link !default;
$navbar-tab-active-border-bottom-color: $link !default;
$navbar-dropdown-background-color: $white !default;
$navbar-dropdown-item-hover-color: $black !default;
$navbar-dropdown-item-hover-background-color: $background !default;
$navbar-dropdown-item-active-color: $link !default;
$navbar-dropdown-item-active-background-color: $background !default;
$navbar-divider-background-color: $background !default;

$footer-background-color: $grey-darker;
