body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0f0f0f;
  color: #e3e3e3;
}

h1 {
  font-size: 280%;
  font-weight: bold;
}
.App {
  padding: 4px;
}

.selectBlock {
  float: right;
}
.formOpts {
  line-height: 2em;
}

.formOpts select,
.formOpts label {
  font-size: 120%;
}

.formOpts input {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  margin-left: 10px;
}

.video-list {
  /*list-style-type: none;*/
  margin: 0;
  padding: 0;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.trend-video {
  flex-direction: row;
  margin: 10px;
}

@media only screen and (max-width: 386px) {
  .selectBlock {
    float: left;
  }
}

@media only screen and (min-width: 387px) and (max-width: 599px) {
  .selectBlock {
    float: left;
  }
}

@media only screen and (min-width: 600px) {
}

.trend-video a,
.trend-video .title {
  display: block;
  width: 320px;
  color: white;
  text-decoration: none;
}

.trend-video a:hover {
  text-decoration: underline;
}

.banList {
  padding: 10px;
  background: gray;
  text-align: center;
}

.banList .banned {
  text-decoration: line-through;
}
.banList button {
  background: white;
  border: 2px solid black;
  margin: 5px;
  font-size: 110%;
  padding: 5px 10px;
}
